Kepler2: https://github.com/KeplerGO/K2FootprintFiles/blob/master/csv/k2-footprint.csv

Kaggle-Kepler: https://www.kaggle.com/datasets/arashnic/exoplanets

TESS: https://archive.stsci.edu/missions/tess/doc/tess_drn/tess_orbit_times_by_sector.csv

In [1]:
import pandas as pd

In [3]:
k2 = pd.read_csv('Datasets/k2-footprint.csv')
tess = pd.read_csv('Datasets/tess_orbit_times_by_sector.csv')

In [4]:
k2.head()

,campaign,start,stop,channel,module,output,ra0,dec0,ra1,dec1,ra2,dec2,ra3,dec3
0,0,2014-03-08,2014-05-27,1,2,1,103.775407,18.329944,103.586236,19.519140,104.761630,19.682144,104.942081,18.491127
1,0,2014-03-08,2014-05-27,2,2,2,103.393030,20.720265,103.584314,19.531154,104.759792,19.694182,104.576639,20.885027
2,0,2014-03-08,2014-05-27,3,2,3,105.867750,21.054119,106.041190,19.862468,104.863088,19.708219,104.681160,20.899242
3,0,2014-03-08,2014-05-27,4,2,4,106.213183,18.658551,106.042932,19.850423,104.864918,19.696180,105.044111,18.504975
4,0,2014-03-08,2014-05-27,9,4,1,102.861296,23.960544,102.659361,25.149172,103.882985,25.315611,104.073086,24.124797

In [7]:
k2.describe()

,campaign,channel,module,output,ra0,dec0,ra1,dec1,ra2,dec2,ra3,dec3
count,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000
mean,9.858612,46.561697,14.095116,2.500000,188.657496,-0.312061,188.657487,-0.312097,188.657519,-0.312136,188.657527,-0.312096
std,6.051701,22.864723,6.092847,1.118393,96.347275,16.810685,96.342799,16.794513,96.339226,16.772719,96.343708,16.788949
min,0.000000,1.000000,2.000000,1.000000,8.354399,-31.407847,9.067040,-31.230190,9.972470,-30.124225,9.259558,-30.300447
25%,5.000000,29.000000,10.000000,1.750000,125.398269,-15.341900,125.400917,-15.082285,124.231583,-14.806684,124.220302,-15.070445
50%,10.000000,47.000000,14.000000,2.500000,186.070180,-1.306890,186.306950,-1.239933,186.307577,-1.258011,186.070682,-1.466604
75%,15.000000,66.000000,19.000000,3.250000,262.313973,15.645014,262.207346,16.015448,262.324966,16.109250,262.856619,15.760747
max,20.000000,84.000000,24.000000,4.000000,359.632023,30.656675,358.912575,30.213316,358.012315,29.174557,358.731999,29.613984

In [8]:
k2_categorical = k2.columns[k2.dtypes == 'object']
k2_numerical = k2.columns[k2.dtypes != 'object']

In [12]:
k2.columns

Index(['campaign', 'start', 'stop', 'channel', 'module', 'output', 'ra0',
       'dec0', 'ra1', 'dec1', 'ra2', 'dec2', 'ra3', 'dec3'],
      dtype='object')

In [9]:
k2_categorical

Index(['start', 'stop'], dtype='object')

In [13]:
k2_numerical

Index(['campaign', 'channel', 'module', 'output', 'ra0', 'dec0', 'ra1', 'dec1',
       'ra2', 'dec2', 'ra3', 'dec3'],
      dtype='object')

In [36]:
for x in k2_categorical:
    print(f"{x}: {k2[x].unique()}\n")

start: ['2014-03-08' '2014-05-30' '2014-08-23' '2014-11-14' '2015-02-07'
 '2015-04-27' '2015-07-14' '2015-10-03' '2016-01-03' '2016-04-07'
 '2016-07-06' '2016-09-24' '2016-12-15' '2017-03-08' '2017-05-31'
 '2017-08-23' '2017-12-07' '2018-03-01' '2018-05-12' '2018-08-06'
 '2018-10-14']

stop: ['2014-05-27' '2014-08-21' '2014-11-13' '2015-02-03' '2015-04-23'
 '2015-07-10' '2015-09-30' '2015-12-26' '2016-03-23' '2016-07-02'
 '2016-09-20' '2016-12-08' '2017-03-04' '2017-05-27' '2017-08-19'
 '2017-11-20' '2018-02-25' '2018-05-08' '2018-08-02' '2018-10-10'
 '2019-01-05']

In [18]:
k2[k2_numerical]

,campaign,channel,module,output,ra0,dec0,ra1,dec1,ra2,dec2,ra3,dec3
0,0,1,2,1,103.775407,18.329944,103.586236,19.519140,104.761630,19.682144,104.942081,18.491127
1,0,2,2,2,103.393030,20.720265,103.584314,19.531154,104.759792,19.694182,104.576639,20.885027
2,0,3,2,3,105.867750,21.054119,106.041190,19.862468,104.863088,19.708219,104.681160,20.899242
3,0,4,2,4,106.213183,18.658551,106.042932,19.850423,104.864918,19.696180,105.044111,18.504975
4,0,9,4,1,102.861296,23.960544,102.659361,25.149172,103.882985,25.315611,104.073086,24.124797
...,...,...,...,...,...,...,...,...,...,...,...,...
1551,20,80,23,4,75.789219,24.041154,75.358600,25.178322,74.193445,24.807480,74.633991,23.673304
1552,20,81,24,1,74.425258,20.584828,73.989457,21.716778,75.125911,22.092328,75.553707,20.956798
1553,20,82,24,2,73.542847,22.859197,73.985016,21.728212,75.121548,22.103798,74.686764,23.238198
1554,20,83,24,3,75.938220,23.639580,76.363867,22.502350,75.220583,22.135709,74.786876,23.270589
1555,20,84,24,4,76.786074,21.352290,76.368132,22.490851,75.224927,22.124232,75.651602,20.988204

In [23]:
k2[k2_categorical]

           start        stop
0     2014-03-08  2014-05-27
1     2014-03-08  2014-05-27
2     2014-03-08  2014-05-27
3     2014-03-08  2014-05-27
4     2014-03-08  2014-05-27
...          ...         ...
1551  2018-10-14  2019-01-05
1552  2018-10-14  2019-01-05
1553  2018-10-14  2019-01-05
1554  2018-10-14  2019-01-05
1555  2018-10-14  2019-01-05

[1556 rows x 2 columns]

In [38]:
k2.groupby('campaign')['channel'].nunique()

campaign
0     76
1     76
2     76
3     76
4     76
5     76
6     76
7     76
8     76
9     76
10    76
11    72
12    72
13    72
14    72
15    72
16    72
17    72
18    72
19    72
20    72
Name: channel, dtype: int64

In [21]:
k2.isnull().sum()

campaign    0
start       0
stop        0
channel     0
module      0
output      0
ra0         0
dec0        0
ra1         0
dec1        0
ra2         0
dec2        0
ra3         0
dec3        0
dtype: int64

In [22]:
k2.shape

(1556, 14)